@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap");

.products-container {
  width: calc(80%);
  float: right;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
}

@media (max-width: 1032px) {
  .products-container {
    width: 100%;
  }
}

.products-text {
  font-family: "PT Sans", sans-serif;
  font-size: 20px;
  font-weight: 400;
  text-align: center;
  line-height: 25px;
  margin-top: 20px;
  margin-bottom: 20px;
}

@media (max-width: 680px) {
  .products-text {
    font-size: 16px;
    line-height: 20px;
  }
}

.products-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  gap: 2rem;
  justify-items: center;
}
