/* src/Member.css */
.member-card {
  background-color: rgba(76, 78, 82, 1);
  border: 1px solid #ffffff;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0);
  padding: 20px;
  margin: 0 20px 40px;
  width: 300px;
  list-style-type: none;
  overflow: hidden;
  text-align: center;
}

.member-photo-container {
  width: 100%;
  height: 300px;
  overflow: hidden;
}

.member-photo {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  transition: transform 0.3s ease;
  transform-origin: center;
}

.member-photo-container:hover .member-photo {
  transform: scale(1.1);
}

.member-details {
  text-align: center;
  margin-top: 20px;
}

.member-name {
  font-size: 20px;
  color: rgba(224, 224, 224, 1);
  font-weight: normal;
  font-style: normal;
  text-transform: uppercase;
  display: block;
}

.member-description {
  font-size: 18px;
  color: rgba(224, 224, 224, 1);
  font-weight: normal;
  font-style: normal;
  text-transform: none;
  display: block;
  margin-top: 5px;
}

@media (max-width: 700px) {
  .member-card {
    margin: 0 10px 20px;
    width: 100%;
  }
}
