@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap");

.review-name {
  font-family: "Playfair Display", serif;
}

.rating-text {
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: large;
  line-height: 10px;
  text-align: left;
}

.card-container {
  background-color: rgba(255, 255, 255, 0.5);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(10px);
  border-radius: 12px;
  width: 50%;
  display: inline-block;
  transition: width 0.3s ease; /* Add transition for smoother resizing */
  overflow: hidden;
}

.card-content {
  background-color: #fff; /* Set your desired background color */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow: hidden;
}

.card-container.highlighted {
  width: 100%;
}

@media (max-width: 600px) {
  .card-container {
    width: 100%; /* Set width to 100% for smaller screens */
  }
}
