@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap");

.contact-container {
  width: calc(80%);
  float: right;
  display: flex;
  justify-content: center;
  padding: 20px;
}

@media (max-width: 1032px) {
  .contact-container {
    width: 100%;
  }
}

.contact-card {
  background-color: rgba(255, 255, 255, 0.5);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(10px);
  border-radius: 12px;
  width: 100%;
}

.form-name {
  font-family: "Playfair Display", serif;
  font-size: 24px;
  font-weight: bold;
}

.form-text {
  font-family: "PT Sans", sans-serif;
  font-weight: 500;
  font-size: large;
  color: rgb(0, 0, 0);
  line-height: 1.5;
}

.contact-content {
  display: flex;
  flex-direction: column;
}

@media (min-width: 780px) {
  .contact-content {
    flex-direction: row;
    justify-content: space-between;
  }
}

.social-icons {
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  gap: 20px;
}

.social-icon {
  color: #3f2f2f;
  transition: color 0.3s ease;
}

.social-icon:hover {
  color: #616161;
}

.contact-info {
  flex: 1;
  margin-right: 20px;
}

.contact-form {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.space-y-4 > .form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  margin-bottom: 8px;
}

.form-group input,
.form-group textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-family: "PT Sans", sans-serif;
}

.btn-contact {
  padding: 10px 20px;
  background-color: #ffd3cb;
  color: #000;
  border: none;
  border-radius: 8px;
  font-family: "Square Market", sans-serif;
  cursor: pointer;
  font-weight: 400;
}

.btn-contact:hover {
  background-color: #ffb0a2;
}

.btn-contact:active {
  background-color: #ff8e79;
}

.btn-contact:focus {
  outline: none;
  box-shadow: 0 0 0 4px #ffd3cb4d;
}

.recaptcha-terms {
  font-size: 12px;
  margin-top: 20px;
}

.recaptcha-terms a {
  color: #000;
  text-decoration: underline;
}
