/* .app-container {
  background: linear-gradient(180deg, #fff5dc 0%, #ffe0a3 100%);
  min-height: 850vh;
}

@media (max-width: 1032px) {
  .app-container {
    min-height: 810vh;
  }
}

@media (max-width: 780px) {
  .app-container {
    min-height: 1050vh;
  }
}

@media (max-width: 680px) {
  .app-container {
    min-height: 1050vh;
  }
} */
