@import url("https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap");

.note-container {
  width: calc(80%);
  float: right;
  display: flex;
  flex-direction: column;
  justify-content: left;
  padding: 20px;
  margin: 20px 0;
  font-family: "PT Sans", sans-serif;
  line-height: 25px;
  position: relative;
}

.note-text {
  font-size: 20px;
  font-weight: 400;
  text-align: left;
  margin-top: 20px;
  margin-bottom: 20px;
}

.note-label {
  font-weight: bold;
}

@media (max-width: 680px) {
  .note-text {
    font-size: 16px;
    line-height: 20px;
  }
}
